#header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid red;
}

body{
    background-color: skyblue;
}

.content{
    display: grid;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    padding: 2px 5px;
}